.language_switcher_button {
    position: relative;

}

.button_text {
    /*position: absolute;*/
    color: #FFF9C0;
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



